*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
}

header{
    height: 10vh;
    background-color: #000;
}
main{

}
.pendientes{

}
.in-progress{

}
.completadas{

}


@media (max-width: 768px){
    
}